{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    
    <h1>Welcome to the AI blog generator</h1>
    <p>To use, paste your youtube link in the box below and watch as your blog is generated.
    </p>

    <form action="" method="post">
        {% csrf_token %}
        <input type="url", name="url", id="url", placeholder="Paste YouTube video link" class="d-flex"></br>
        {% if blog %}
        <h2>Title: {{ title }}</h2>
        </textarea class="form-control w-100" rows="10" readonly>{{ blog }}</textarea></br>
        {% endif %}
        <button type="submit", class="btn btn-primary">Generate AI blog</button>
    </form>
{% endblock %}
